<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/signup" method="post">
        <labale for="name">Name</labale>
        <input type="string" id="name" name="name"><br>

        <labale for="email">Email</labale>
        <input type="string" id="email" name="email"><br>

        <labale for="password">Password</labale>
        <input type="string" id="password" name="password"><br>

        <input type="submit" value="SignUp">
    </form>
</body>
</html>