<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/user/signin" method="post">
        <labale for="email">Email</labale>
        <input type="string" id="email" name="email"><br>

        <labale for="password">Password</labale>
        <input type="string" id="password" name="password"><br>

        <input type="submit" value="SignIn">
    </form>

    <% if (msg) { %>
       <p> Email or Password is incorrect <P>
       <p> If you don't have account then plz <a href="./signup.ejs">signup</a><P>
    <% } %>
    
</body>
</html>